<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skill Mine</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
  </head>
  
  <body>
    <div class="accordion" id="accordion1">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button shadow-none" id="scam_button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div id="scam_button_div" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Tooltip on bottom">
              Avoid Scams
            </div>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordion1">
          <div class="accordion-body">
            <div class="row">
              <div class="col">Help Seekers</div>
              <div class="col">
                <strong>Techs</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
        </div>
      </div>
    </div>
    
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand me-auto" href="#">{{company_name}}</a>
        <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
        <a href="https://www.flaticon.com/free-icons/pickaxe" title="pickaxe icons">Pickaxe icons created by juicy_fish - Flaticon</a>

        <a class="nav-link" href="#">Sign In</a>
      </div>
    </nav>

    <div class="container text-center">
      <div class="row">
        <div class="col">
          One of three columns
        </div>
        <div class="col">
          Post
        </div>
        <div class="col">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Language
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"><img
                src="https://flagcdn.com/w40/us.png"
                srcset="https://flagcdn.com/w80/us.png 2x"
                width="40"
                alt="United States"></a></li>
              <li><a class="dropdown-item" href="#">MEX</a></li>
              <li><a class="dropdown-item" href="#">FRA</a></li>
            </ul>
          </li>
        </div>
      </div>
    </div>
    
    <div class="row">
  
      <div class="card col-4">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick 1 text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card col-4">
        <div class="card-body">
          <h5 class="card-title">Featured</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Due Soon</h6>
          <p class="card-text">Some quick 1 text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

      <div class="card col-4">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Highest Reward</h6>
          <p class="card-text">Some quick 1 text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

  <div class="buttonBox">
      <a>Post Assignment ($1)</a>
  </div>      
    <div class="row filterBox">
      <div class="col-3">
        Filters
        <br><br>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
            <label class="form-check-label" for="firstCheckbox">Urgency</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <label class="form-check-label" for="secondCheckbox">Date Created</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
            <label class="form-check-label" for="thirdCheckbox">Date Due</label>  
          </li>
        </ul>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
            <label class="form-check-label" for="firstCheckbox">Reward Amount</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <label class="form-check-label" for="secondCheckbox">Tags</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
            <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>  
          </li>
        </ul>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
            <label class="form-check-label" for="firstCheckbox">First checkbox</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
            <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
          </li>
          <li class="list-group-item flex-fill">
            <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
            <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>  
          </li>
        </ul>
      </div>

      <div class="col-9 sortView">
        Sort | Show Rows | Change View
        <br><br>

          {% for listing in listings %}
            {% include 'listing.html' %}
          {% endfor %}  
        
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script>const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))</script>
    <script src="/node_modules/light-switch-bootstrap/switch.js"></script>
  </body>
</html>